<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>请柬</title>
    <meta name="author" content="Zhihui Yan"/>
    <meta name="description" content="the wedding invitation"/>
    <meta name="keywords" content="animation,velocity"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<h1>MAP</h1>
</body>
</html>
